/*
!.gitignore
!.github
!README.md
!info.txt
!docker-compose.yaml
!wp-content
wp-content/ai1wm-backups
wp-content/*
!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/pocket-money-api
wp-content/plugins/pocket-money-api/node_modules
wp-content/plugins/pocket-money-api/tests/phpunit/includes
wp-content/plugins/pocket-money-api/vendor

!wp-content/themes
wp-content/themes/*
!wp-content/themes/bwl-starter-theme

*.wpress