/*
!.gitignore
!.github
!README.md
!docker-compose.yaml
!wp-content
wp-content/ai1wm-backups
wp-content/*
!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/pocket-money-api
wp-content/plugins/pocket-money-api/node_modules
wp-content/plugins/pocket-money-api/vendor
wp-content/plugins/pocket-money-api/tests

!wp-content/themes
wp-content/themes/*
!wp-content/themes/bwl-starter-theme

*.wpress