<phpunit bootstrap="tests/phpunit/bootstrap.php" backupGlobals="false"
        colors="true" convertErrorsToExceptions="true"
        convertNoticesToExceptions="true" convertWarningsToExceptions="true">
        <testsuites>
                <testsuite>
                      <directory prefix="test-" suffix=".php">./tests/phpunit/tests/</directory>
                        <!-- <file>tests/phpunit/tests/test-active.php</file> -->
                </testsuite>
        </testsuites>
</phpunit>